html, body {
  overflow-x: hidden;
}
.event-card {
  border: none;
  border-radius: 15px !important;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s ease;
  text-align: start;
  height: 380px !important;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-img-wrap {
  position: relative;
  overflow: hidden;
}

.event-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.event-card:hover img {
  transform: scale(1.1);
}

.event-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.event-card:hover .event-overlay {
  opacity: 1;
}

.event-overlay svg {
  font-size: 30px;
  color: #fff;
  padding: 14px;
  transform: scale(0.7);
  transition: transform 0.4s ease;
}

.event-card:hover .event-overlay svg {
  transform: scale(1);
}

.event-points {
  display: flex;
  gap: 16px;
  margin-top: 12px;

}

.event-points span {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.event-points {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 14px;
  color: #198754;
}

@media (max-width: 576px) {
  .event-points {
    gap: 8px;
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .row.g-5 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.g-5 > [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
  }
}
