*{
    margin: 0;
    padding: 0;
}
.luxury{
    font-size: 60px;
    text-align: start;
    font-weight: 600;
    margin-top: 100px;
    letter-spacing: 2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5d766f ;
    text-align: start;
    font-size: 18px;
    margin-top: 40px;
    /* font-weight: 300; */
    letter-spacing: 2;
    word-spacing: 7;
}