body{
  overflow-x:hidden ;
}
.testimonial-section {
  background: #7a8f8b;
  padding: 40px 20px !important;
}

@media (max-width: 576px) {
  .background {
    padding: 40px 15px;
  }
}
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
  gap: 30px;
}

.testimonial-card {
  background: #ffffff;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
  position: relative;
  max-width: 620px !important;
  transition: all 0.4s ease;
  overflow: hidden;
}

.testimonial-card:hover {
  transform: scale(1.02) translateY(-3px);
}


.quote {
  font-size: 60px;
  color: #d8e2de;
  position: absolute;
  top: 20px;
  left: 25px;
  font-family: serif;
  transition: color 0.4s ease;

}

.testimonial-card:hover .quote {
  color: #2f8f6b;
}

.testimonial-text {
  font-size: 15px;
  color: #4b5d5a;
  line-height: 1.7;
  margin-top: 30px;
  text-align: start;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonial-user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e1ece8;
}

.testimonial-user h6 {
  font-size: 15px;
  font-weight: 600;
}

.testimonial-user span {
  font-size: 13px;
  color: #7a8f8b;
  text-align: start;
}