body,
html {
  margin: 0;
  padding: 0;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.footer-section {
  background: #345e52;
  color: #fff;
  padding: 60px 20px;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-brand {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
}

.footer-list {
  list-style: none;
  padding: 0;
  text-align: left !important;
}

.footer-list li {
  margin-bottom: 10px;
  color: #d9d9d9;
  transition: 0.3s;
  cursor: pointer;
  text-align: left !important;
}

.footer-list li:hover {
  color: #fff;
  margin-left: 5px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 40px;
  padding-top: 20px;
  color: #e6e6e6;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 15px;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-icons {
  display: flex;
  gap: 8px;
}

.icon-box {
  width: 45px;
  height: 40px;
  background: rgba(209, 209, 209, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.40);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon-box:hover {
  color: #fff;
  background: transparent;
}