.green {
  background-color: #345e52;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.green .navbar-brand {
  color: white !important;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.green .dropdown-menu .dropdown-item {
  color: #42524D !important;
  line-height: 2;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0;
  transition: 0.3s ease;
}

.green .navbar-nav .nav-link,
.green .navbar-nav .dropdown-toggle {
  margin-right: 20px;
  font-size: 17px;
  color: #d9d9d9 !important;
  transition: 0.3s ease;
}

.green .navbar-nav .nav-link:hover,
.green .navbar-nav .dropdown-toggle:hover {
  color: #ffffff !important;
}

